@model Flow_CaseTracking.Models.Cards

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cards</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.List)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.List)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
